@model IEnumerable<ConstructionIdea>

<div class="container">
	<div class="row row-cols-2">
		@foreach(ConstructionIdea idea in Model)
		{
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@idea.ImageURL" class="img-fluid rounded-start" alt="@idea.Description">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@idea.Title</h5>
                            <p class="card-text">@idea.Description</p>
                            <a href="@idea.URL" target="_blank" class="btn btn-light btn-watch">Watch!</a>
                        </div>
                    </div>
                </div>
            </div>
		}
	</div>
</div>
